<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../static/jquery/jquery-3.5.1.min.js"></script>
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-grid.css">
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-reboot.css">
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
        <script src="../static/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="../static/bootstrap/js/bootstrap.js"></script>
        <link rel="shortcut icon" type="image/png" href="../static/images/favicon.png">
        <link rel="stylesheet" href="../static/styles/login.css">
        <title>Document</title>



    </head>
    <body>
        <h1>Nova Password</h1>
        <div id="Logo">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-1">
                        <img src="../static/images/store.png" style="width:100px"/>
                    </div>
                    <div class="col-11">
                        <h1 class="display-3">Loja</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="LoginBox">
            <div class="row">
                <form action="http://www.loja4.pt/novapassword" style="width:100%" method="POST">
                    <input id="username" name="username" type="hidden" value={{username}}>
                    <div class="form-group">
                        <label for="password1">Nova senha:</label>
                        <input type="password" class="form-control" id="password1" name="password1" placeholder="Introduza a nova senha" required>
                        <div class="invalid-feedback">Em seguida clique no botao nova senha.</div>
                    </div>
                    <div class="form-group">
                        <label for="password2"></label>
                        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirme a nova senha" required>
                        <div class="invalid-feedback">Confirma nova senha </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Nova senha</button>
                </form>
            </div>
        </div>
    </body>
</html>
 